<p>add-product!</p>

<form (ngSubmit)="addProduct(f)" #f=ngForm>
  <input type="text" name="ProductName" placeholder="Product Name" ngModel required />
  <input type="number" name="ProductPrice" placeholder="Product Price" ngModel required />
  <input type="number" name="ProductQuantity" placeholder="Product Quantity" ngModel required />
  <input type="number" name="ProductDiscount" placeholder="Product Discount" ngModel required />
  <input type="text" name="ProductCategory" placeholder="Product Category" ngModel required />
  <input type="text" name="ProductSubCategory" placeholder="Product Sub-Category" ngModel required />
  <input type="text" name="ProductBrand" placeholder="Product Brand" ngModel required />
    <input type="radio" name="ProductGenderType" value="Male"  ngModel checked> Male
    <input type="radio" name="ProductGenderType" value="Female" ngModel> Female
    <input type="radio" name="ProductGenderType" value="Neutral" ngModel> Neutral

  <input type="hidden" name="ProductDescription" placeholder="Product Descrption" ngModel />

  <li *ngFor="let descrption of DescrptionView">
    {{descrption}}
  </li>

  <form #d=ngForm>
    <input type="text" name="property" placeholder="Property" ngModel required />
    <input type="text" name="value" placeholder="Value" ngModel required />
    <button type="submit" (click)="addDescription(d)" [disabled]="!d.valid">Add</button>
  </form>

  <input type="hidden" name="Seller_ID" ngModel />
  <button type="submit" value="submit" [disabled]="!f.valid">Add Product</button>
</form>
