<p>customer-registration works!</p>
<form (ngSubmit)="addCustomer(f)" #f=ngForm>
  <input type="text" name="Name" placeholder="Name" ngModel />
  <input type="email" name="Email" placeholder="Email" ngModel />
  <input type="password" name="Password" placeholder="Password" ngModel />
  <input type="password" name="ConfirmPassword" placeholder="ConfirmPassword" ngModel />
  <input type="text" name="Gender" placeholder="Gender" ngModel />
  <button type="submit" value="Register">Register</button>
</form>
<button type="button" routerLink="../Login">Login</button>
