<nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Amazon Dream</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" routerLink="Login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="CustomerRegistration">Signup</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="Kart">Kart</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="Wish">Wishlist</a>
          <a class="dropdown-item" routerLink="Previsit">Pre-Visited Products</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="Logout">Logout</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="SellerRegistration">Register As Seller</a>

        </div>
      </li>
    </ul>
  </div>
</nav>



<br /><hr />




<button routerLink="">Home</button>

<button routerLink="Login">Login</button>
<button routerLink="CustomerRegistration">Signup</button>
<button routerLink="Logout">Logout</button>
<button routerLink="Kart">Kart</button>
<button routerLink="Wish">Wishlist</button>
<button routerLink="Previsit">Previsit</button>





<p>home-page</p>

<router-outlet></router-outlet>




<!-- Footer -->
<footer class="page-footer font-small teal pt-4 ">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left" style="background-color:#0b7838">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">About</h5>
        <p>
          AmazonDream.com, Inc., is an American multinational technology company based in Seattle,
          Washington, that focuses on e-commerce, cloud computing, digital streaming,
          and artificial intelligence. It is considered one of the Big Four technology
          companies along with Google, Apple, and Facebook.
        </p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Contact Us</h5>
        <pre>
          Number of employees: 6,47,500 (2018)
          Customer service: 1800 3000 9009
          CEO: Abhishek Sharma
          Subsidiaries: Audible, Zappos, AbeBooks, Amazon.ae.
        </pre>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3"   style="background-color:#05632c">
    © 2018 Copyright:
     AmazonDream.com
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
