<p>reviews works!</p>

<form (ngSubmit)="addReview(f)" #f=ngForm>
  <input type="number" name="Rating" placeholder="Rating" ngModel />
  <input type="text" name="Review" placeholder="Review" ngModel />
  <input type="hidden" name="Customer_ID" ngModel />
  <input type="hidden" name="Product_ID" ngModel />

  <button type="submit" value="Add">Add Review</button>
</form>

<li *ngFor="let review of reviewList">
  {{review | json}}
  <!--<button (click)="productHome(product.id)">Details</button>-->


</li>
