<H4>Payment Mode</H4>
<li><button (click)="paymentMode('Cash On Delivery')" class=" btn btn-primary">Cash On Delivery</button></li><br />
<li><button (click)="paymentMode('Credit Card')" class=" btn btn-primary">Credit Card</button></li><br />
<li><button (click)="paymentMode('Debit Card')" class=" btn btn-primary">Debit Card</button></li><br />
<li><button (click)="paymentMode('Internet Banking')" class=" btn btn-primary">Internet Banking</button></li><br />
<li><button (click)="paymentMode('BHIM UPI')" class=" btn btn-primary">BHIM UPI</button></li><br />

