<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" routerLink="/SellerHome">Amazon Dream</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/SellerHome">Seller Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="AddProduct">Add Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="ViewProduct">View Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="PendingProduct">Pending Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="TrendingProduct">Trending Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="TrendRequestedProduct">Trend Requested Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="ReceivedOrders">Received Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="../HomePage/Logout">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          Logout
        </a>
      </li>
    </ul>
  </div>
</nav>

<br /><hr />

<p>seller-home</p>
<button routerLink="AddProduct">Add Product</button>
<button routerLink="ViewProduct">View Product</button>
<button routerLink="PendingProduct">Pending Products</button>
<button routerLink="TrendingProduct">Trending Products</button>
<button routerLink="TrendRequestedProduct">Trend Requested Products</button>
<button routerLink="ReceivedOrders">Received Orders</button>




<router-outlet></router-outlet>

<footer class="fixed-bottom">
<div class="footer-copyright text-center py-3" style="background-color:#05632c">
  © 2018 Copyright:
  AmazonDream.com
</div>
<!-- Copyright -->
</footer>
